.nei{
	width: 1300px;
	margin: 0 auto;
}
.shang{
	width: 1300px;
	height: 143px;
	background-color: white;
	z-index: 999;
}
.one{
	width: 1300px;
	height: 38px;
	line-height: 38px;
	background-color: white;
	font-size: 14px;
	font-family: '黑体';
	color: #a89791;
}

.head-nav img {
	vertical-align: middle;
}
.head-nav {
	float: right;
}
.head-nav li {
	float: left;
	margin-left: 10px;
	cursor: pointer;
}
.two{
	width: 1300px;
	height: 105px;
	background-color: white;
}
.input{
	float: left;
	margin-top: 21px;
	margin-left: 108px;
	width: 498px;
	height: 36px;
	border: solid #fe6c00;
	font-size: 12px;
	font-family: '黑体'
	color:#a89791;
	padding-left: 10px;
	outline: none;
}
.button{
	width: 90px;
	height: 44px; 
	border: none;
	background-color: #fe6c00;
	font-size: 15px;
	font-family: '黑体';
	color: white;
	float: left;
	margin-top: 21px;
	outline: none;
	cursor: pointer;
}
.two ul{
	float: left;
	padding-left: 110px;
	list-style:none;
	font-size: 6px;
	font-family: '黑体';
}
.two ul li{
	float: left;
	margin:0px 8px;			
	padding-right: 2px;
	border-right:1px solid #ebe7e7;
}
.li1{
	color: #ff0000;
}
.li2{
	color: #666560;
}
.li3{
	color: #c0a9d6;
}
.lil{
	color: #666560;
	border-width: 0px;
}
.t1{
	width: 85px;
	height: 44px;
	border: 1px solid #e6e5e2;
	border-radius:2px;
	float: left;
	margin-top: 21px;
	margin-left: 90px;
	font-family: '黑体';
	font-size: 12px;
	color: #a89791;
}
.t2{
	width: 85px;
	height: 44px;
	border: 1px solid #e6e5e2;
	border-radius:2px;
	float: left;
	margin-top: 21px;
	font-family: '黑体';
	font-size: 12px;
	color: #a89791;
}
.t3{
	width: 85px;
	height: 44px;
	line-height: 44px;
	border: 1px solid #e6e5e2;
	border-radius:2px;
	float: left;
	margin-top: 21px;
	background-color: #ff4d04;
	font-family: '黑体';
	font-size: 13px;
}

.t1 p, .t2 p {
	margin: 0;
	padding: 0;
}

.content-nav {
	height: 40px;
	line-height: 40px;
	color: #fff;
	background-color: #222;
}
.nav-list li {
	float: left;
	padding: 0 18px;
	border-left: 1px solid #222;
	cursor: pointer;
}
.nav-list .active {
	background: #FE0D4A;
}
.nav-list li:hover {
	background: #FE0D4A;
} 

.goods {
	width: 1060px;
	height: 500px;
	padding: 20px;
	padding-bottom: 104px;
	background: #fff;
	float: left;
}
.good-img-box, .good-img {
	position: relative;
}
.slider {
  width: 204px;
  height: 204px;
  background: rgba(180,180,135,0.3);
  position: absolute;
  display: none;
}
#big {
	width: 408px;
	height: 408px;
	background: #fff;
	position: absolute;
	left: 420px;
	top: 0;
	z-index: 9;
	overflow: hidden;
	border: 1px solid #ccc;
	display: none;
}
#big img {
	width: 816px;
	height: 816px;
}
.good-img {
	border: 1px solid #ccc;
	width: 408px;
	height: 408px;
}
.good-img img {
	max-width: 408px;
}
.good-imgs {
	padding: 10px 0px;
	width: 410px;
}

.good-imgs li.active {
	border: 1px solid red;
}
.good-imgs .span-btn {
	border: 1px solid #ccc;
	width: 25px;
	height: 62px;
}
.good-imgs ul {
	overflow: hidden;
}
.good-imgs li {
	width: 62px;
	height: 62px;
	box-sizing: border-box;
	float: left;
}
.good-imgs li img{
	width: 100%;
	height: 100%;
}
.good-imgs li:hover {
	border: 1px solid #FE0D4A;
}
.good-info {
	padding-left: 20px;
	width: 600px;
}
.good-info .price, .good-info .select {
	font-size: 13px;
	font-weight: 900;
}
.good-info .price span {
	margin-left: 20px;
}
.good-info .options {
	display: inline-block;
	position: relative;
	padding: 4px 8px;
	cursor: pointer;
}
.good-info .options.active {
	border: 1px solid red;
	background: url(img/duigou.png) no-repeat right bottom;
}
.good-info .buy-amount {
	display: inline-block;
	border: 1px solid #ccc;
	height: 25px;
}
.good-info .buy-amount i {
	display: inline-block;
	float: left;
	width: 25px;
	height: 25px;
	line-height: 24px;
	text-align: center;
	cursor: pointer;
}
.good-info .buy-amount input {
	float: left;
	border: 1px solid #ccc;
	border-top: 0;
	border-bottom: 0;
	height: 25px;
	width: 45px;
	text-align: center;
}
.good-info .buy-button, .good-info .add-shopping {
	width: 140px;
	height: 40px;
	border: 1px solid red;
	border-radius: 6px;
	background: #fff;
	color: red;
	font-weight: 900;
	cursor: pointer;
}
 .good-info .add-shopping {
	background: red;
	color: #fff;
 }
.youkan {
	float: left;
	margin-left: 10px;
}










.d1{
	width: 1300px;
	height: 183px;
}
.d11{
	float: left;
	height: 153px;
	width: 100px;
	list-style:none;
	line-height:25px;
	margin-left: 80px;
	margin-top: 30px;

}
.d12{
	float: left;
	width: 100px;
	height: 153px;
	list-style:none;
	line-height: 25px;
	margin-top: 30px;
}
.li4{
	font-family: '黑体';
	font-size: 15px;
	color: black;
}
.li5{
	font-family: '黑体';
	font-size: 12px;
	color: #666560;
}
.d2{
	width: 1300px;
	height: 110px;
	
}
.d2 ul{
	font-family: '黑体';
	font-size: 12px;
	padding-left: 350px;
	list-style:none;
	overflow: hidden;
}
.d2 ul li{
	float: left;
	margin:0px 8px;			
	padding-right: 15px;
	border-right:1px solid #ebe7e7;

}
.d2 p {
	color: #a79791;
	font-family: '黑体';
	font-size: 12px;
	line-height: 25px;
	text-align: center;
}
.d3 {
	float: left;
	width: 1300px;
	height: 80px;
	margin-top: 8px;
}








